<div class="flex px-2 py-2 mt-3 rounded-[10px] justify-between relative shadow-md bg-white item-componet">
  <div>
    <input [id]="item.description" type="checkbox" (change)="item.done = !item.done" [checked]="item.done" 
      class="custom-checkbox "/>
  </div>
  <label *ngIf="!editable"
     class="cursor-pointer w-full text-[#333333] h-6 pl-3 overflow-hidden text-ellipsis"  [for]="item.description">{{item.description}}</label>

    <input *ngIf="editable"
    class=" w-full bg-white placeholder:italic box-border ml-3 h-6 rounded border border-slate-300 focus:outline-none focus:border-[#4e54c8] focus:ring-[#4e54c8] focus:ring-1" placeholder="Edit task" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)">
  
    
    <button class="btn-options ml-3" (click)="toggleOptions()"></button>
  

    <div *ngIf="isOpen" class="absolute min-w-10 flex flex-col bg-white p-3 items-start right-8 bottom-8 z-10 rounded shadow-md">
      <button class="btn-edit text-[#333333]" (click)="editable = !editable; isOpen= false">Edit task</button>
      <button class="btn-delete text-red-600" (click)="remove.emit()">Delete task</button>
    </div>

  </div>


   <!-- Shows only if user clicks Edit button -->
   <!-- <div *ngIf="editable" class="absolute z-20 bg-transparent h-full w-[80vw] top-0 
   left-[20vw] flex justify-center items-center">
    <div class="bg-white p-3 rounded w-[50%] flex flex-col justify-center items-center">
      <input class="w-full bg-white placeholder:italic px-2 py-1 rounded border border-slate-300 focus:outline-none focus:border-[#4e54c8] focus:ring-[#4e54c8] focus:ring-1" placeholder="Edit task" [value]="item.description" #editedItem (keyup.enter)="saveItem(editedItem.value)">
      <div class="btn-wrapper flex gap-3 mt-3">
        <button class="bg-gradient-to-tr from-[#4e54c8] to-[#8f94fb] text-white px-3 py-1 rounded  font-semibold" (click)="editable = !editable">Cancel</button>
        <button class="bg-gradient-to-tr from-[#4e54c8] to-[#8f94fb] text-white px-3 py-1 rounded  font-semibold" (click)="saveItem(editedItem.value)">Save</button>
      </div>

      
    </div>
     -->
  <!-- </div> -->