.boundary{
    background-image: url(../../assets/Images/nature.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.textShdow{
    text-shadow: -0.5px -0.5px 0 #333333, 
                0.5px -0.5px 0 #333333, 
                -0.5px 0.5px 0 #333333, 
                0.5px 0.5px 0 #333333;
}