<div class="bg-background w-screen min-h-screen overflow-x-hidden">
  <app-get-name
    [@toggleVisibility]
    class="w-full h-screen flex items-center"
    *ngIf="UserDataService.userName === ''"
  ></app-get-name>

  <div
    [@toggleVisibility]
    *ngIf="UserDataService.userName !== ''"
    class="flex h-screen max-h-screen justify-between"
  >
    <!-- <app-menu
      class="absolute bottom-3 w-full sm:flex hidden justify-center"
    ></app-menu> -->
    <main class="w-full" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </div>
</div>
