<div class="md:h-screen h-[calc(100vh-4.3rem)] md:max-w-[80vw] md:w-[calc(100vw-15rem)] bg-background relative p-3 flex flex-col justify-between"
*ngIf="!showNewNote && !isCurrentNoteOpened">
   <div>
        <div class="mb-3 text-greyText">
            <h1 class="text-4xl">Hello, Mikołaj</h1>
            <span class="text-2xl">You have {{numberOfNotes}} 
                <span *ngIf="numberOfNotes === 1">note</span>
                <span *ngIf="numberOfNotes !== 1">notes</span>
            </span>
        </div>
        <div class="overflow-y-scroll md:max-h-[calc(100vh-7rem)] max-h-[calc(100vh-10rem)] md:max-w-[77.5vw]">
                <ul class="flex flex-wrap gap-3 pb-6 md:pb-0">
                    <li *ngFor="let note of notes; let i = index">
                        <app-note-miniature [note]="note" [index]="i" 
                        (openCurrentNote)="isCurrentNoteOpened=true"
                        (sendCurrentNoteIndex)="findCurrentNote($event)"
                        ></app-note-miniature>
                    </li>
                </ul>
          
        </div>
   </div>
    <div class="absolute bottom-3 right-3">
        <button class="p-3  bg-[#363b90] rounded-[50%] shadow-md"  (click)="showNewNote=true">
            <svg class="w-6 h-6" fill="none" stroke="white" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"></path>
            </svg>
        </button>
    </div>
    
</div>

<app-new-note *ngIf="showNewNote" 
(showNewNote)="showNewNote=false" 
(sendNewNote)="addNote($event)">
</app-new-note>

<app-note *ngIf="isCurrentNoteOpened" 
(closeCurrentNote)="isCurrentNoteOpened=false" 
(updateNoteValue)="updateNoteValue($event, $event)"
(deleteNote)="deleteNote($event)"
[note]="currentOpenedNote" 
[index]="currentNoteIndex"
 ></app-note>
