<div
  class="overflow-hidden relative p-3 flex flex-col mx-auto rounded-[10px] justify-center items-center gap-3"
>
  <img
    src="../../assets/Images/Nirvana.svg"
    alt="Nirvana"
    width="100px"
    height="100px"
    class="h-auto mb-6"
  />
  <h2 *ngIf="!userDataService.showError" class="text-xl text-textPrimary">
    What's your name?
  </h2>
  <h2
    *ngIf="userDataService.showError"
    class="text-xl text-[#e12b2b] text-center"
  >
    This field cannot be empty
  </h2>
  <input
    #name
    type="text"
    placeholder="Name"
    (keyup.enter)="userDataService.addName(name.value); name.value = ''"
    required
    class="bg-secondary text-textPrimary placeholder:italic px-2 py-2 border-2 border-secondary focus:outline-none focus:border-primary hover:border-primary w-[20rem] rounded-[10px]"
  />
  <button
    class="rounded-[10px] w-full py-2 px-3 bg-accent text-white flex items-center justify-center"
    (click)="userDataService.addName(name.value); name.value = ''"
  >
    Save
  </button>
</div>
