<div class="min-h-screen flex flex-col overflow-y-scroll">
  <div
    class="relative flex flex-col justify-between w-full h-full px-3 pt-3 overflow-y-scroll"
  >
    <div>
      <button routerLink="/" class="flex text-textPrimary gap-2 text-xl">
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="#ffffffde"
          stroke-width="2"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
          ></path>
        </svg>
        <span> Go back </span>
      </button>

      <h1 class="text-4xl text-textPrimary my-6">My Tasks</h1>

      <div class="mb-6 rounded-[10px] justify-between input-field relative">
        <span class="absolute bottom-2 left-0 flex items-center pl-2">
          <svg
            class="h-6 w-6"
            fill="none"
            stroke="#808080"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            ></path>
          </svg>
        </span>
        <input
          #newItem
          type="text"
          placeholder="Add task"
          (keyup.enter)="addItem(newItem.value); newItem.value = ''"
          class="bg-secondary placeholder:italic pr-2 pl-10 py-2 text-textPrimary border-2 border-secondary outline-none focus:outline-none focus:border-primary hover:border-primary w-full rounded-[10px]"
        />
      </div>

      <mat-chip-listbox
        aria-label="task filtering"
        class="flex my-3 w-full gap-3 text-[#8f8fa1] text-sm sm:text-base"
      >
        <mat-chip-option selected (click)="filter = 'all'">All</mat-chip-option>
        <mat-chip-option (click)="filter = 'active'">To do</mat-chip-option>
        <mat-chip-option (click)="filter = 'done'">Done</mat-chip-option>
        <mat-chip-option (click)="filter = 'important'"
          >important</mat-chip-option
        >
      </mat-chip-listbox>
      <div class="flex flex-col justify-between">
        <div class="flex w-full justify-center">
          <img
            width="120px"
            height="120px"
            class="mt-12"
            *ngIf="tasks.length === 0"
            src="../../assets/Images/empty-todoList.svg"
          />
        </div>
        <ul
          class="max-w-full box-border flex flex-col gap-3 py-3"
          [ngSwitch]="filter"
        >
          <ng-container *ngSwitchCase="'all'">
            <li *ngFor="let i of tasks">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'active'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'done'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'important'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="flex mt-[0.75rem] justify-center items-center">
    <button
      routerLink="/"
      class="p-3 rounded-[50%] bg-slate-100 bg-opacity-70 backdrop-blur-sm sm:hidden block"
    >
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        ></path>
      </svg>
    </button>
  </div>
</div>
