::placeholder {
  color: #808080; 
}

  .custom-filter-checkbox{
    appearance: none;
    -webkit-appearance: none;
    height: .8rem;
    width: .8rem;
    background-color: #ecedee;
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.custom-filter-checkbox:hover{
    background-color: #dcdee1;
    
}

.custom-filter-checkbox:checked{
    background-color: #4e54c8;
}
.custom-filter-checkbox:checked::after{
    display: block;
}


/* <--- CUSTOM SCROLL-BAR ---> */
::-webkit-scrollbar {
  width: .4em;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d1d4d7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b6bd;
}

.toDoBackground{
  background-image: url("../../assets/images/toDoBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #4e54c8;
}

@media (max-width: 768px) {
  .toDoBackground{
    background-image: url("../../assets/images/toDoBackground-mobile.svg");
  }
}
