<div class="w-screen h-screen flex justify-center">
  <div class="overflow-hidden relative flex flex-col justify-between w-[90%] h-[80%]  mt-[1.5rem]  bg-slate-100 bg-opacity-70 backdrop-blur-sm p-3 rounded-[10px]">
    <div>
      <div>
        <h1 class="text-3xl text-greyText">My Tasks</h1>
        <p class="text-greyText">{{ currentDay }}</p>
      </div>
      <div class="mt-3 flex flex-col justify-between">
        <div class="flex my-3 w-full gap-3 text-[#8f8fa1]">
          <button
            [ngClass]="{ 'text-primary': filter === 'all' }"
            (click)="filter = 'all'"
          >
            All
          </button>
          <button
            [ngClass]="{ 'text-primary': filter === 'active' }"
            (click)="filter = 'active'"
          >
            To do
          </button>
          <button
            [ngClass]="{ 'text-primary': filter === 'done' }"
            (click)="filter = 'done'"
          >
            Done
          </button>
          <button
            [ngClass]="{ 'text-primary': filter === 'important' }"
            (click)="filter = 'important'"
          >
            Important
          </button>
        </div>

        <ul
          class="max-w-full md:max-h-[calc(100vh-16.5rem)] max-h-[calc(100vh-20.25rem)] overflow-y-scroll box-border flex flex-col gap-3 py-3"
          [ngSwitch]="filter"
        >
          <ng-container *ngSwitchCase="'all'">
            <li *ngFor="let i of tasks">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'active'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'done'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'important'">
            <li *ngFor="let i of tasks.filter(tasksfiltering())">
              <app-item
                (remove)="removeItem(i)"
                (saveToLocalStorage)="saveToLocalStorage()"
                [item]="i"
              ></app-item>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="mx-3 mb-[0.85rem] rounded-[10px] justify-between shadow-md bg-white input-field relative">
      <span class="absolute bottom-2 left-0 flex items-center pl-2">
        <svg
          class="h-6 w-6"
          fill="none"
          stroke="#808080"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          ></path>
        </svg>
      </span>
      <input
        #newItem
        type="text"
        placeholder="Add task"
        (keyup.enter)="addItem(newItem.value); newItem.value = ''"
        class="bg-white placeholder:italic pr-2 pl-10 py-2 rounded-t-[10px] border border-slate-300 focus:outline-none focus:border-primary hover:border-primary w-full rounded-[10px]"
      />
    </div>
  </div>
</div>  
